#default_days = 3650

[ req ]
default_bits = 4096
#default_keyfile = privkey.pem
distinguished_name = req_dn
attributes = req_attr
prompt = no
#output_password = mypass
req_extensions = req_ext
default_md = sha512
encrypt_key = no

[ req_dn ]
C = RU
ST = Leningrad Region
L = St. Petersburg
O = Acme Company
0.OU = IT Service
1.OU = Internet Dept
CN = Primary Web CA
emailAddress = admin@example.com

[ req_attr ]
#challengePassword = chapass

[ req_ext ]
basicConstraints = critical, CA:true
subjectAltName = @req_subject

[ req_subject ]
DNS.1 = web-ca.inet.example.com
